/* Variáveis de Tema */
:root {
  --primary-color: #f46000;
  /* Laranja do logotipo */
  --secondary-color: #f9f9f9;
  /* Cinza claro da identidade */
  --text-color: #333;
  /* Cor do texto principal */
  --background-color: #f5f5f5;
  /* Fundo sutil e neutro */
  --accent-color: #0056b3;
  /* Azul escuro para contraste */
  --highlight-color: #ffcc00;
  /* Amarelo claro como cor de destaque */

  --font-family-heading: 'Arial', sans-serif;
  /* Fonte para títulos */
  --font-family-body: 'Roboto', sans-serif;
  /* Fonte para o corpo do texto */

  --padding-section: 60px;
  /* Espaçamento padrão das seções */
  --max-width: 1200px;
  /* Largura máxima do conteúdo */
}


/* * {
  border: solid 1px greenyellow;
} */




/* Estilos Gerais */
body {
  margin: 0;
  font-family: var(--font-family-body);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
  padding: 0;
  /* Remove padding padrão do body */

}

.App {
  text-align: center;
}

/* Centraliza o conteúdo e define a largura máxima */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  /* Garantir espaçamento lateral em telas menores */
}

/* Seções Gerais */
section {
  padding: var(--padding-section) 0;
  width: 100%;
  /* Seções ocupam toda a largura da tela */
}

h2 {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: var(--primary-color);
}

/* Hero Section - Carrossel de Imagens */

.carousel-image {
  width: 100%;
  /* Use 100% para ocupar toda a largura do contêiner */
  height: auto;
  /* Deixe a altura se ajustar automaticamente */
  object-fit: cover;
  /* Mantém a proporção sem distorcer */
  display: block;
  margin: 0;
}

.carousel {
  max-width: var(--max-width);
  /* O conteúdo é limitado */
  margin: 0 auto;
}

/* Banner Aula Grátis */
#banner-aula-gratis {
  background-color: var(--primary-color);
  color: white;
}

#banner-aula-gratis .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Define o botão */
#banner-aula-gratis button {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

/* Ajuste da imagem */
#banner-aula-gratis img {
  width: auto;
  /* Mantém a largura original */
  height: auto;
  /* Mantém a altura original */
  max-width: 100%;
  /* Impede que a imagem ultrapasse o container */
  display: block;
  /* Remove espaço extra em torno da imagem */
  border-radius: 1.3rem;
  /* Ajuste o valor para o arredondamento desejado */
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25vw;
  /* Largura do modal */
  justify-items: center;
  /* Centraliza o conteúdo no modal */
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-header .close {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para os botões */
.modal-btn {
  display: block;
  /* Faz com que os links fiquem um abaixo do outro */
  width: 70%;
  background-color: #4CAF50;
  /* Cor de fundo dos botões */
  color: white;
  /* Cor do texto dos botões */
  padding: 10px 20px;
  margin: 10px 0;
  /* Espaço entre os botões */
  text-align: center;
  text-decoration: none;
  /* Remove o sublinhado do link */
  font-size: 16px;
  border-radius: 5px;
}

.modal-btn:hover {
  background-color: #45a049;
  /* Efeito de hover nos botões */
}

/* Centralizando os botões no modal */
.modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-buttons button {
  width: 80%;
  background-color: var(--highlight-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: var(--highlight-hover-color);
}










#nossas-unidades {
  background-color: #f9f9f9;
}

.card-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  margin: 16px;
  position: relative;
}

.card-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
   overflow: hidden; /* Adicione isso para esconder a parte da imagem que crescer */
}

.cta-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px; 
}

.cta-button:hover {
  background-color: #45a049;
}

.card-content {
  padding: 16px;
  text-align: center;
}

.card-content h3 {
  margin: 8px 0;
}

.card-content button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover .card-image {
  transform: scale(1.1);
}










/* Aulas e Treinos */
#aulas-e-treinos {
  background-color: var(--background-color);
}

#aulas-e-treinos .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Aplicativo */
#aplicativo {
  background-color: var(--secondary-color);
}

#aplicativo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aplicativo button {
  background-color: var(--primary-color);
  color: white;
}

/* Instalações */
#instalacoes {
  background-color: white;
}

#instalacoes .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* FAQ */
#faq {
  background-color: var(--background-color);
}

#faq .container {
  text-align: left;
}

#faq .faq-item h4 {
  color: var(--primary-color);
  font-size: 1.5rem;
}

#faq .faq-item p {
  font-size: 1.1rem;
}

/* Faça Parte do Time */
#faca-parte-do-time {
  background-color: var(--primary-color);
  color: white;
}

#faca-parte-do-time .container {
  text-align: center;
}

#faca-parte-do-time button {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

/* Footer */
footer {
  background-color: var(--text-color);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  section {
    padding: 40px 20px;
  }

  button {
    font-size: 0.9rem;
  }
}