/* Variáveis de Tema */
:root {
  --primary-color: #f46000;
  /* Laranja do logotipo */
  --secondary-color: #f9f9f9;
  /* Cinza claro da identidade */
  --text-color: #333;
  /* Cor do texto principal */
  --background1-color: #eee;
  --background2-color: #fff;
  /* Fundo sutil e neutro */
  --accent-color: #0056b3;
  /* Azul escuro para contraste */
  --highlight-color: #ffcc00;
  /* Amarelo claro como cor de destaque */
  --font-family-heading: 'Arial', sans-serif;
  /* Fonte para títulos */
  --font-family-body: 'Roboto', sans-serif;
  /* Fonte para o corpo do texto */
  --padding-section: 30px;
  /* Espaçamento padrão das seções */
  --max-width: 1200px;
  /* Largura máxima do conteúdo */
}

/* Reset básico de CSS */

/* Remove margens, paddings, e define box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Melhora a tipografia legível e acessível */
html {
  font-size: 100%;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Remover estilos padrão de listas */
ul,
ol {
  list-style: none;
}

/* Remove sublinhados em links e define uma cor padrão */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove bordas padrões de botões */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Força imagens a se ajustarem ao container */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Define um estilo básico para campos de formulário */
input,
textarea,
select,
button {
  font: inherit;
}

/* Remove espaçamento entre tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Garantir que o body ocupe a tela toda */
body,
html {
  height: 100%;
}




/*  * {
  border: solid 1px greenyellow;
}  */





/* Estilos Gerais */
body {
  margin: 0;
  font-family: var(--font-family-body);
  color: var(--text-color);
  line-height: 1.6;
  padding: 0;
  background-color: var(--background1-color);

}

.App {
  text-align: center;
}

/* Centraliza o conteúdo e define a largura máxima */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  /* Garantir espaçamento lateral em telas menores */
}

/* Seções Gerais */
section {
  padding: var(--padding-section) 0;
  width: 100%;
  /* Seções ocupam toda a largura da tela */
}

h2 {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: var(--primary-color);
}

/* Hero Section - Carrossel de Imagens */

.carousel-image {
  width: 100%;
  /* Use 100% para ocupar toda a largura do contêiner */
  height: auto;
  /* Deixe a altura se ajustar automaticamente */
  object-fit: cover;
  /* Mantém a proporção sem distorcer */
  display: block;
  margin: 0;
}

.carousel {
  max-width: var(--max-width);
  /* O conteúdo é limitado */
  margin: 0 auto;
}

/* Banner Aula Grátis */
#banner-aula-gratis {
  background-color: var(--background1-color);
  color: white;
}

#banner-aula-gratis .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Define o botão */
#banner-aula-gratis button {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color:var(--secondary-color);;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#banner-aula-gratis button:hover {
  background-color: var(--highlight-color);
}

/* Ajuste da imagem */
#banner-aula-gratis img {
  width: auto;
  /* Mantém a largura original */
  height: auto;
  /* Mantém a altura original */
  max-width: 100%;
  /* Impede que a imagem ultrapasse o container */
  display: block;
  /* Remove espaço extra em torno da imagem */
  border-radius: 1.3rem;
  /* Ajuste o valor para o arredondamento desejado */
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25vw;
  /* Largura do modal */
  justify-items: center;
  /* Centraliza o conteúdo no modal */
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-header .close {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.modal-btn {
  display: block;
  /* Faz com que os links fiquem um abaixo do outro */
  width: 70%;
  background-color: #4CAF50;
  /* Cor de fundo dos botões */
  color: white;
  /* Cor do texto dos botões */
  padding: 10px 20px;
  margin: 10px 0;
  /* Espaço entre os botões */
  text-align: center;
  text-decoration: none;
  /* Remove o sublinhado do link */
  font-size: 16px;
  border-radius: 5px;
}

.modal-btn:hover {
  background-color: #45a049;
  /* Efeito de hover nos botões */
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-buttons button {
  width: 80%;
  background-color: var(--highlight-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: var(--highlight-hover-color);
}


#nossas-unidades {
  background-color: var(--background2-color);
}

.card-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  margin: 16px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.cta-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.cta-button:hover {
  background-color: #45a049;
}

.card-content {
  padding: 16px;
  text-align: center;
}

.card-content h3 {
  margin: 8px 0;
}

.card-content button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover .card-image {
  transform: scale(1.1);
}


.app-image {
  height: 280px;
}

.app-content {
  display: flex;
}

/* Aulas e Treinos */
#aulas-e-treinos {
  padding: 40px 20px;
  background-color: var(--background1-color);
}

#aulas-e-treinos .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aulas-treinos-slider {
  position: relative; /* Faz com que os elementos filhos sejam posicionados em relação a este container */
}



.slick-prev,
.slick-next {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%);
  z-index: 10; /* Coloca os botões acima da imagem */
}

.slick-prev {
  left: 10px; /* Ajuste a posição esquerda conforme necessário */
}

.slick-next {
  right: 10px; /* Ajuste a posição direita conforme necessário */
}


/* Aplicativo */
#aplicativo {
  background-color: var(--background2-color);
  padding: 40px 20px;
  text-align: center;
}

#aplicativo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aplicativo .app-info {
  max-width: 1200px;
  margin: 0 auto;
}

#aplicativo .app-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#aplicativo .app-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #555;
}

#aplicativo .app-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#aplicativo .app-text {
  max-width: 600px;
  text-align: left;
  background-color: white;
}

#aplicativo .app-subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#aplicativo .app-details {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #333;
}

#aplicativo .app-features {
  list-style-type: disc;
  padding: 0 2rem;
  margin-bottom: 20px;
}

#aplicativo .app-features li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #444;
}

#aplicativo .app-call-to-action {
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
}

#aplicativo .app-image {
  max-width: 20vw;
  height: auto;
  border-radius: 10px;
}

#aplicativo button {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color:var(--secondary-color);;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#aplicativo button:hover {
  background-color: var(--highlight-color);
}

/* Responsividade */
@media (max-width: 768px) {
  #aplicativo .app-content {
    flex-direction: column;
  }

  #aplicativo .app-image {
    margin-top: 20px;
  }

  #aplicativo .app-text {
    text-align: center;
  }
}



/* Instalações */
#instalacoes {
  background-color: white;
}

#instalacoes .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* FAQ */
#faq {
  background-color: var(--background-color);
  padding: 40px 20px;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
}

.faq {
  max-width: 1200px; /* Largura máxima de 1200px */
  width: 100%; /* Permite que o contêiner use 100% da largura disponível até o máximo */
}

.faq-item {
  margin-bottom: 20px;
  text-align: left; /* Alinha o texto à esquerda */
}

.faq-question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333; /* Cor cinza escuro */
  margin: 0;
}

.faq-answer {
  margin-top: 10px;
  font-size: 1.1rem;
}

.faq-question:hover {
  color: #007bff; /* Cor ao passar o mouse */
}

.faq-icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg); /* Gira a seta quando a pergunta é aberta */
}

/* Estilos para a linha divisória */
.faq-divider {
  border: none; /* Remove a borda padrão */
  height: 1px; /* Altura da linha divisória */
  background-color: #e0e0e0; /* Cor da linha divisória */
  margin: 10px 0; /* Espaçamento acima e abaixo da linha */
}




/* Faça Parte do Time */
#faca-parte-do-time {
  background-color: var(--primary-color);
  color: white;
}

#faca-parte-do-time .container {
  text-align: center;
}

#faca-parte-do-time button {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

/* Footer */
footer {
  background-color: var(--text-color);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  section {
    padding: 40px 20px;
  }

  button {
    font-size: 0.9rem;
  }
}





